$color-white: #ffffff;
$color-apple: #68b738;
$color-cod-gray: #111111;
$color-tundora: #444444;
$color-concrete: #f2f2f2;
$color-silver: #cdcdcd;

@mixin fullWidth($width, $marginLeft, $padding) {
  width: $width;
  margin-left: $marginLeft;
  padding: 0 $padding;
}

// @media screen and (min-width: 768px) {}
