// .about {}
// .about__wrapper {}
.about__title {
  margin-bottom: 34px;
}

.about__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 26px;
}

.about__card__icon {
  position: relative;
  width: 60px;
  height: 46px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;

  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: -7px;
    width: 60px;
    height: 60px;
    background-color: $color-apple;
  }
}

.about__card__text {
  margin-left: 20px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 1.75rem;
  line-height: 2.25rem;
  color: $color-tundora;
}

.about__card__icon--leaf {
  background-image: url("../img/advantage-leaf@1x.png");
}

.about__card__icon--powder {
  background-image: url("../img/advantage-powder@1x.png");
}

.about__card__icon--dining {
  background-image: url("../img/advantage-dining@1x.png");
}

.about__card__icon--clock {
  background-image: url("../img/advantage-clock@1x.png");
}
