.catalog-other {
  @include fullWidth(calc(100% + 40px), -20px, 20px);
  padding-top: 27px;
  border-top: 1px solid $color-silver;
}

.catalog-other__title {
  margin-bottom: 35px; // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 50%;
  //   right: -20px;
  //   width: 53px;
  //   height: 3px;
  //   background-color: $color-apple;
  // }
}

.other-product {
  padding-top: 12px;
  padding-bottom: 17px;
  border-top: 1px solid $color-silver;
}

.other-product__title {
  margin-bottom: 14px;
  font-size: 2rem;
  line-height: 2rem;
  color: $color-cod-gray;
  text-transform: uppercase;
}

.other-product__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.other-product__field,
.other-product__value {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 1.75rem;
  line-height: 1.75rem;
  color: $color-tundora;
}

// .other-product__value {}
.other-product:last-child {
  border-bottom: 1px solid $color-silver;
}
