// .catalog {}
// .catalog__wrapper {}
// .catalog__products {}
.catalog__title {
  margin: 20px 0 30px 0;
}

@media screen and (min-width: 768px) {
  .catalog__products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__title {
    margin: 35px 0 30px 0;
  }
}
