.example {
  width: calc(100% + 40px);
  margin-left: -20px;
}

.example__wrapper {
  background-color: $color-concrete;
  padding: 20px;
  padding-bottom: 37px;
}

.example__title {
  margin-bottom: 28px;
}

.example__text {
  margin-bottom: 25px;
  padding-right: 5px;
  font-family: Arial;
  font-size: 1.75rem;
  line-height: 2.25rem;
  color: $color-tundora;
}

.example__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.example__subcontainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 125px;
  color: $color-cod-gray;
  border: 1px solid $color-silver;
  border-radius: 2px;
}

.example__subtext {
  font-size: 3rem;
  line-height: 3rem;
  text-transform: uppercase;
}

.example__subinfo {
  position: absolute;
  bottom: -16px;
  font-family: Arial;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: $color-tundora;
  text-align: center;
  width: 82px;
  background-color: $color-concrete;
}

.example__price {
  font-size: 1.75rem;
  color: $color-cod-gray;
  text-align: center;
  line-height: 2.5rem;
  margin-top: 34px;
  margin-bottom: 35px;
  text-transform: uppercase;
}
