.map {
  position: relative;
  height: 360px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-size: cover;
  background-position-y: bottom;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 58px;
    height: 58px;
    background-image: url("../img/map-pin.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
