.more {
  @include fullWidth(calc(100% + 40px), -20px, 20px);
  padding-top: 27px;
  padding-bottom: 25px;
  border-top: 1px solid $color-silver;
}

// .more__wrapper {}

.more__icon {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 23px;
  background-image: url("../img/icon-plus-mobile.svg");
}

.more__title {
  margin-bottom: 8px;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  color: $color-cod-gray;
  text-transform: uppercase;
}

.more__subtitle {
  margin-bottom: 20px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  color: $color-tundora;
}
