.product {
  @include fullWidth(calc(100% + 40px), -20px, 20px);
  padding-bottom: 23px;
  border-top: 1px solid $color-silver;
  // border-bottom: 1px solid $color-silver;
}

.product__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product__photo {
  width: 50%;
  height: 145px;
  background-repeat: no-repeat;
}

.product__about {
  width: 50%;
}

.product__title {
  width: 70%;
  margin-bottom: 12px;
  font-size: 2rem;
  line-height: 2.5rem;
  color: $color-cod-gray;
  text-transform: uppercase;
}

.product__consist {}

.product__consist-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product__field,
.product__value {
  font-family: Arial;
  font-size: 1.5rem;
  line-height: 2rem;
  color: $color-tundora;
}

.chicken-small {
  background-image: url(../img/chicken-small-mobile@1x.jpg);
}

.chicken-big {
  background-image: url(../img/chicken-big-mobile@1x.jpg);
}

.fish-small {
  background-image: url(../img/fish-small-mobile@1x.jpg);
}

.fish-big {
  background-image: url(../img/fish-big-mobile@1x.jpg);
}

.buckwheat-small {
  background-image: url(../img/buckwheat-small-mobile@1x.jpg);
}

.buckwheat-big {
  background-image: url(../img/buckwheat-big-mobile@1x.jpg);
}

.rice-small {
  background-image: url(../img/rice-small-mobile@1x.jpg);
}
